<div class="profile_space">
  <p class="employee_index"><%= link_to '一覧に戻る', articles_path, class: 'btn' %></p>

  <div class="row">
    <span class="label">タイトル</span>
    <span><%= @article.title %></span>
  </div> 

  <div class="row">
    <textarea cols="60" rows="10" readonly><%= @article.content %></textarea>
  </div>

</div>
